@font-face {
    font-family: "kidGames";
    src: url("./font/kidGames.ttf")
}

@font-face {
    font-family: "stickKids";
    src: url("./font/stickKids.ttf");
}

body {
    margin: 0;
    overflow: hidden;
}

/* Start game */

#startScreen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 10;
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: rgb(77, 238, 184);
}

#gameTitle {
    position: absolute;
    display: flex;
    margin: auto;
    top: 25px;
    width: 800px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./img/logo.png");
}

#startGameButton {
    position: absolute;
    display: flex;
    margin: auto;
    width: 190px;
    height: 190px;
    top: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./img/button01.png");
    background-color: rgba(230, 0, 19, 0);
    outline: none;
    border: none;
    border-radius: 100px;
}

#startGameButton:hover {
    width: 210px;
    height: 210px;
    animation-name: Popping;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

@keyframes Popping {
    from {
        width: 190px;
        height: 190px;
    }
    to {
        width: 210px;
        height: 210px;
    }
}

/* Level Option Screen */

#levelOptionScreen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    z-index: 8;
    background-color: rgb(15, 125, 184);
}

#levelOptionScreen h1 {
    position: absolute;
    top: 0;
    font-family: "stickKids";
    font-size: 100px;
    color: rgb(28, 7, 119);
}

.optionButton {
    width: 200px;
    height: 300px;
    margin: 50px;
}

.optionButton:hover {
    width: 250px;
    height: 350px;
}

/* Game */

#mainContainer {
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 125, 184);
    justify-content: center;
}

#towersContainer {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;
    height: 100%;
    margin-bottom: 150px;
}

.towers {
    position: relative;
    width: 25px;
    height: 55%;
    background-image: url("./img/cone01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    z-index: 2;
    pointer-events: none;
}

#towers2 {
    background-image: url("./img/cone02.png");
}

#DomeContainer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    bottom: 0;
    pointer-events: none;
    /* background-color: blueviolet; */
}

.discBoxDome {
    display: flex;
    flex-direction: column-reverse;
    width: 350px;
    height: 100%;
    background-image: url("./img/cone03.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

#discContainer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;
    height: 70%;
    margin-top: 10%;
    /* background-color: rgba(168, 80, 80, 0.691); */
}

.discBox {
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.discs {
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    height: 15%;
    bottom: 50px;
}

#disc6 {
    position: relative;
    display: flex;
    width: 16%;
}

#disc5 {
    position: relative;
    display: flex;
    width: 33%;
}

#disc4 {
    position: relative;
    display: flex;
    width: 50%;
}

#disc3 {
    position: relative;
    display: flex;
    width: 66%;
}

#disc2 {
    position: relative;
    display: flex;
    width: 83%;
}

#disc1 {
    position: relative;
    display: flex;
    width: 99%;
}

.discsImgsBottom {
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    margin: 0;
    padding: 0;
    border: none;
    align-self: flex-end;
    /* background-image: url("./img/disc1-1.png"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.discsImgsTop {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 40%;
    margin: 0;
    padding: 0;
    border: none;
    /* background-image: url("./img/disc1-2.png"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

#imageContainer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 10%;
    top: 10%;
    z-index: 1;
}

#imageContainer img {
    visibility: hidden;
    width: 100px;
    height: 100px;
    margin-top: 1rem;
}

#imgVictory {
    position: absolute;
    width: 500px;
    height: 800px;
}

#moveCounterDiv {
    position: absolute;
    /* border: 2px solid black; */
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: "kidGames";
    font-size: 80px;
}

#timerDiv {
    position: absolute;
    right: 300px;
    /* border: 2px solid black; */
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: "kidGames";
    font-size: 80px;
}

#level1 {
    background-image: url("./img/level1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#level2 {
    background-image: url("./img/level2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#level3 {
    background-image: url("./img/level3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#level4 {
    background-image: url("./img/level4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#confeteContainer{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
}
.imgVictoryDiv{
    flex: 1;
}